/*
 * button package
 */
.sp--btn {
    /*z-index: 1;*/
    position: relative;
    vertical-align: middle;
    text-overflow: ellipsis;
    display: inline-flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    /*overflow: hidden;*/
    /*flex-direction: column;*/
    /*background-color: var(--white-color);*/
}
.sp--btn:hover,
.sp--btn:focus {
    z-index: 2;
}
.sp--btn > span {
    display: flex;
    align-items: baseline;
}
.sp--btn[vertical="top"] {
    vertical-align: top;
    align-self: flex-start;
}
.sp--btn[vertical="middle"] {
    vertical-align: middle;
    align-self: center;
}
.sp--btn[vertical="bottom"] {
    vertical-align: bottom;
    align-self: flex-end;
}
button.sp--btn {
    font: inherit;
}

/*
 * button size
**/
.sp--btn[scale^="ss"] { /* 예외처리 */
    line-height: calc(var(--line-height) * .9);
    padding: var(--padding-text-set-ss);
    font-size: var(--font-size-xs);
}
.sp--btn[scale^="xs"] {
    line-height: calc(var(--line-height) * .95);
    padding: var(--padding-text-set-xs);
    font-size: var(--font-size-xs);
}
.sp--btn[scale^="sm"] {
    padding: var(--padding-text-set-sm);
    font-size: var(--font-size-sm);
}
.sp--btn[scale^="md"] {
    padding: var(--padding-text-set-md);
    font-size: var(--font-size-md);
}
.sp--btn[scale^="lg"] {
    padding: var(--padding-text-set-lg);
    font-size: var(--font-size-lg);
}
.sp--btn[scale^="xl"] {
    padding: var(--padding-text-set-xl);
    font-size: var(--font-size-xl);
}
.sp--btn[scale^="2xl"] {
    padding: var(--padding-text-set-2xl);
    font-size: var(--font-size-2xl);
}
.sp--btn[scale^="3xl"] {
    padding: var(--padding-text-set-3xl);
    font-size: var(--font-size-3xl);
}

/*
 * button size with box
**/
.sp--btn[scale^="xs"][scale*="box"] {
    padding: calc(var(--padding-text-xs) * 2.1) calc(var(--padding-text-xs) * 4.5);
}
.sp--btn[scale^="sm"][scale*="box"] {
    padding: calc(var(--padding-text-sm) * 2.1) calc(var(--padding-text-sm) * 4.5);
}
.sp--btn[scale^="md"][scale*="box"] {
    padding: calc(var(--padding-text-md) * 2.1) calc(var(--padding-text-md) * 4.5);
}
.sp--btn[scale^="lg"][scale*="box"] {
    padding: calc(var(--padding-text-lg) * 2.1) calc(var(--padding-text-lg) * 4.5);
}
.sp--btn[scale^="xl"][scale*="box"] {
    padding: calc(var(--padding-text-xl) * 2.1) calc(var(--padding-text-xl) * 4.5);
}
.sp--btn[scale^="2xl"][scale*="box"] {
    padding: calc(var(--padding-text-2xl) * 2.1) calc(var(--padding-text-lg) * 4.5);
}
.sp--btn[scale^="3xl"][scale*="box"] {
    padding: calc(var(--padding-text-3xl) * 2) calc(var(--padding-text-3xl) * 4.5);
}

/*
 * 버튼의 개별적인 그리드
 * 이 형태는 flex의 width를 강제로 조절하기 위함이다.
 * 5개 정도면 충분하다. 실제 1은 100%가 아닌 flex 1 이 역할이라고 보자.
**/
.sp--btn[grid="1"] {
    width: 100%;
}
.sp--btn[grid="2"] {
    width: 50%;
}
.sp--btn[grid="3"] {
    width: 33.333%;
}
.sp--btn[grid="4"] {
    width: 25%;
}
.sp--btn[grid="5"] {
    width: 20%;
}

/*
 * button size 정사각형 스타일
**/
.sp--btn[scale^="ss-fix"] { /* 예외처리 */
    padding: calc(var(--padding-ss) * .8);
}
.sp--btn[scale^="xs-fix"] {
    padding: calc(var(--padding-xs) * .8);
}
.sp--btn[scale^="sm-fix"] {
    padding: calc(var(--padding-sm) * .8);
}
.sp--btn[scale^="md-fix"] {
    padding: calc(var(--padding-md) * .8);
}
.sp--btn[scale^="lg-fix"] {
    padding: calc(var(--padding-lg) * .8);
}
.sp--btn[scale^="xl-fix"] {
    padding: calc(var(--padding-xl) * .8);
}
.sp--btn[scale^="2xl-fix"] {
    padding: calc(var(--padding-2xl) * .6);
}
.sp--btn[scale^="3xl-fix"] {
    padding: calc(var(--padding-3xl) * .5);
}


.sp--btn[scale*="nude"] {
    padding: 0 !important;
    min-height: auto;
}
.sp--btn[scale*="-x"] {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.sp--btn[scale*="-y"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.sp--btn[scale*="-icon"] {
    line-height: 1;
    padding: 0 3px 1px 3px;
    border-radius: 2px;
}
.sp--btn[scale*="up"] {
    top: -.15em;
}
.sp--btn[scale*="down"] {
    top: .15em;
}

/*
 * button size with undersize
**/
.sp--btn[scale^="ss"][theme^="under"] { /* 예외처리 */
    padding: calc(var(--padding-text-ss) * .5) 0;
}
.sp--btn[scale^="xs"][theme^="under"] {
    padding: calc(var(--padding-text-xs) * .5) 0;
}
.sp--btn[scale^="sm"][theme^="under"] {
    padding: calc(var(--padding-text-sm) * .5) 0;
}
.sp--btn[scale^="md"][theme^="under"] {
    padding: calc(var(--padding-text-md) * .5) 0;
}
.sp--btn[scale^="lg"][theme^="under"] {
    padding: calc(var(--padding-text-lg) * .5) 0;
}
.sp--btn[scale^="xl"][theme^="under"] {
    padding: calc(var(--padding-text-xl) * .5) 0;
}
.sp--btn[scale^="2xl"][theme^="under"] {
    padding: calc(var(--padding-text-2xl) * .5) 0;
}
.sp--btn[scale^="3xl"][theme^="under"] {
    padding: calc(var(--padding-text-3xl) * .5) 0;
}

/*
 * button block
 */
.sp--btn[theme*="block"] {
    width: 100%;
    display: flex;
    flex: 1;
}
.sp--btn[theme*="floor"] {
    width: 100%;
    flex-direction: column;
    display: flex;
    flex: 1;
}

/*
 * button text align
 */
.sp--btn[theme*="nowrap"] {
    white-space: nowrap;
}
.sp--btn[theme*="left"] {
    text-align: left;
    justify-content: flex-start;
}
.sp--btn[theme*="center"],
.sp--btn[theme*="center"] > span {
    text-align: center;
    justify-content: center;
}
.sp--btn[theme*="-right"] {
    text-align: right;
    justify-content: flex-end;
}
.sp--btn[theme*="both"] {
    display: flex;
    flex-direction: unset;
}
.sp--btn[theme*="both"] > span {
    flex: none;
    display: block;
}
.sp--btn[theme*="both"] > span:last-child {
    margin-left: auto;
}
.sp--btn[theme*="thumbnail"] {
    display: flex;
    flex-direction: unset;
}
.sp--btn[theme*="thumbnail"] > span {
    flex: 0 0 auto;
    padding: 0 1.2em 0 0;
}
.sp--btn[theme*="thumbnail"] > span:last-child {
    flex: 1;
    padding: 0;
}
.sp--btn[float="left"] {
    float: left;
}
.sp--btn[float="right"] {
    float: right;
}
.sp--btn[float="flex-left"] {
    margin-right: auto;
}
.sp--btn[float="flex-right"] {
    margin-left: auto;
}

/*
 * button round
 */
.sp--btn[scale^="ss"][theme*="round"] {
    border-radius: 2px;
}
.sp--btn[scale^="xs"][theme*="round"] {
    border-radius: 2px;
}
.sp--btn[scale^="sm"][theme*="round"] {
    border-radius: 2px;
}
.sp--btn[scale^="md"][theme*="round"] {
    border-radius: 3px;
}
.sp--btn[scale^="lg"][theme*="round"] {
    border-radius: 3px;
}
.sp--btn[scale^="xl"][theme*="round"] {
    border-radius: 3px;
}
.sp--btn[scale^="2xl"][theme*="round"] {
    border-radius: 3px;
}
.sp--btn[scale^="3xl"][theme*="round"] {
    border-radius: 3px;
}
.sp--btn[theme*="circle"] {
    padding: 0;
}
.sp--btn[scale^="ss"][theme*="circle"] {
    width: 20px;
    height: 20px;
}
.sp--btn[scale^="xs"][theme*="circle"] {
    width: 22px;
    height: 22px;
}
.sp--btn[scale^="sm"][theme*="circle"] {
    width: 25px;
    height: 25px;
}
.sp--btn[scale^="md"][theme*="circle"] {
    width: 29px;
    height: 29px;
}
.sp--btn[scale^="lg"][theme*="circle"] {
    width: 32px;
    height: 32px;
}
.sp--btn[scale^="xl"][theme*="circle"] {
    width: 36px;
    height: 36px;
}
.sp--btn[scale^="2xl"][theme*="circle"] {
    width: 41px;
    height: 41px;
}
.sp--btn[scale^="3xl"][theme*="circle"] {
    width: 50px;
    height: 50px;
}
.sp--btn[theme*="circle"][theme*="light"] {
    color: var(--gray-color);
    background-color: var(--light-color);
}
.sp--btn[theme*="circle"][theme*="gray"] {
    color: var(--white-color);
    background-color: var(--gray-color);
}
.sp--btn[theme*="circle"][theme*="dark"] {
    color: var(--white-color);
    background-color: var(--dark-color);
}
.sp--btn[theme*="circle"][theme*="primary"] {
    color: var(--white-color);
    background-color: var(--primary-color);
}
.sp--btn[theme*="roundmax"] {
    border-radius: 100rem !important;
}

/*
 * 기본 컬러형 버튼
 */
.sp--btn[theme^="white"] {
    color: var(--white-color);
}
.sp--btn[theme^="light"] {
    color: var(--silver-color);
}
.sp--btn[theme^="gray"] {
    color: var(--gray-color);
}
.sp--btn[theme^="dark"] {
    color: var(--dark-color);
}
.sp--btn[theme^="primary"] {
    color: var(--primary-color);
}

/*
 * 박스형 버튼
 */
.sp--btn[theme^="box"] {
    opacity: .95;
    border: 1px solid transparent;
}
.sp--btn[theme^="box-2"] {
    border: 2px solid transparent;
}
.sp--btn[theme^="box-3"] {
    border: 3px solid transparent;
}
.sp--btn[theme^="box"]:hover {
    opacity: .9;
}
.sp--btn[theme^="box"]:active {
    opacity: 1;
    /*
    -webkit-transform: translate3d(0, 1px, 0);
            transform: translate3d(0, 1px, 0);
    */
}
.sp--btn[theme^="box"][theme*="primary"] {
    color: var(--light-color);
    background-color: var(--primary-color);
}
.sp--btn[theme^="box"][theme*="primary-bright"] {
    color: var(--primary-color);
    border: 1px solid var(--primary-light-color);
    background-color: var(--primary-bright-color);
}
.sp--btn[theme^="box"][theme*="white"] {
    color: var(--base-color);
    background-color: var(--white-color);
    border: 1px solid var(--light-color);
}
.sp--btn[theme^="box"][theme*="white"]:hover {
    color: var(--active-color);
    border: 1px solid var(--lightlow-color);
}
.sp--btn[theme^="box"][theme*="light"] {
    color: var(--base-color);
    background-color: var(--lightmax-color);
    border: 1px solid var(--light-color);
}
.sp--btn[theme^="box"][theme*="light"]:hover {
    color: var(--active-color);
    border: 1px solid var(--lightlow-color);
}
.sp--btn[theme^="box"][theme*="gray"] {
    color: var(--lightmax-color);
    background-color: var(--gray-color);
    text-shadow: var(--textshadow-dark);
}
.sp--btn[theme^="box"][theme*="dark"] {
    color: var(--lightlow-color);
    background-color: var(--dark-color);
    text-shadow: var(--textshadow-dark);
}

/*
 * 스플릿형 버튼
 */
.sp--btn[theme^="split"][theme*="light"] ~ .sp--btn[theme^="split"][theme*="light"] {
    border-left: 1px solid var(--light-color);
}
.sp--btn[theme^="split"][theme*="gray"] ~ .sp--btn[theme^="split"][theme*="gray"] {
    border-left: 1px solid var(--gray-color);
}
.sp--btn[theme^="split"][theme*="dark"] ~ .sp--btn[theme^="split"][theme*="dark"] {
    border-left: 1px solid var(--dark-color);
}
.sp--btn[theme^="split"][theme*="primary"] ~ .sp--btn[theme^="split"][theme*="primary"] {
    border-left: 1px solid var(--primary-color);
}

/*
 * 세로형 스플릿형 버튼
 */
.sp--btn[theme^="vsplit"][theme*="light"]:not(.displaynone) ~ .sp--btn[theme^="vsplit"][theme*="light"] {
    border-top: 1px solid var(--light-color);
}
.sp--btn[theme^="vsplit"][theme*="gray"]:not(.displaynone) ~ .sp--btn[theme^="vsplit"][theme*="gray"] {
    border-top: 1px solid var(--gray-color);
}
.sp--btn[theme^="vsplit"][theme*="dark"]:not(.displaynone) ~ .sp--btn[theme^="vsplit"][theme*="dark"] {
    border-top: 1px solid var(--dark-color);
}
.sp--btn[theme^="vsplit"][theme*="primary"]:not(.displaynone) ~ .sp--btn[theme^="vsplit"][theme*="primary"] {
    border-top: 1px solid var(--primary-color);
}

/*
 * 라인형 버튼
 */
.sp--btn[theme^="line"] {
    opacity: .95;
    border: 1px solid transparent;
    background-color: var(--white-color);
}
.sp--btn[theme^="line"]:hover {
    opacity: .9;
}
.sp--btn[theme^="line"]:active {
    opacity: 1;
    /*
    -webkit-transform: translate3d(0, 1px, 0);
            transform: translate3d(0, 1px, 0);
    */
}
.sp--btn[theme^="line"][theme*="light"] {
    color: var(--base-color);
    border: 1px solid var(--light-color);
}
.sp--btn[theme^="line"][theme*="light"]:hover {
    color: var(--active-color);
    border-color: var(--lightlow-color);
}
.sp--btn[theme^="line"][theme*="gray"] {
    color: var(--base-color);
    border: 1px solid var(--silver-color);
}
.sp--btn[theme^="line"][theme*="gray"]:hover {
    color: var(--active-color);
}
.sp--btn[theme^="line"][theme*="dark"] {
    color: var(--base-color);
    border: 1px solid var(--dark-color);
}
.sp--btn[theme^="line"][theme*="dark"]:hover {
    color: var(--active-color);
}
.sp--btn[theme^="line"][theme*="primary"] {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

/*
 * 얇은 보더
 */
 .sp--btn[theme^="edge"] {
    opacity: .95;
    border: 1px solid transparent;
}
.sp--btn[theme^="edge"]:hover {
    opacity: .8;
}
.sp--btn[theme^="edge"]:active {
    opacity: 1;
    /*
    -webkit-transform: translate3d(0, 1px, 0);
            transform: translate3d(0, 1px, 0);
    */
}
.sp--btn[theme^="edge"][theme*="light"] {
    color: var(--base-color);
    border: 2px solid var(--light-color);
}
.sp--btn[theme^="edge"][theme*="light"]:hover {
    color: var(--active-color);
    border: 2px solid var(--lightlow-color);
}
.sp--btn[theme^="edge"][theme*="gray"] {
    color: var(--base-color);
    border: 2px solid var(--gray-color);
}
.sp--btn[theme^="edge"][theme*="gray"]:hover {
    color: var(--active-color);
}
.sp--btn[theme^="edge"][theme*="dark"] {
    color: var(--base-color);
    border: 2px solid var(--dark-color);
}
.sp--btn[theme^="edge"][theme*="dark"]:hover {
    color: var(--active-color);
}
.sp--btn[theme^="edge"][theme*="primary"] {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

/*
 * 보더형 버튼
 */
.sp--btn[theme^="border"] {
    opacity: .95;
    border: 1px solid transparent;
}
.sp--btn[theme^="border"]:hover {
    opacity: .8;
}
.sp--btn[theme^="border"]:active {
    opacity: 1;
    /*
    -webkit-transform: translate3d(0, 1px, 0);
            transform: translate3d(0, 1px, 0);
    */
}
.sp--btn[theme^="border"][theme*="light"] {
    color: var(--base-color);
    border: 3px solid var(--light-color);
}
.sp--btn[theme^="border"][theme*="light"]:hover {
    color: var(--active-color);
    border: 3px solid var(--lightlow-color);
}
.sp--btn[theme^="border"][theme*="gray"] {
    color: var(--base-color);
    border: 3px solid var(--gray-color);
}
.sp--btn[theme^="border"][theme*="gray"]:hover {
    color: var(--active-color);
}
.sp--btn[theme^="border"][theme*="dark"] {
    color: var(--base-color);
    border: 3px solid var(--dark-color);
}
.sp--btn[theme^="border"][theme*="dark"]:hover {
    color: var(--active-color);
}
.sp--btn[theme^="border"][theme*="primary"] {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
}

/*
 * 언더라인 버튼
 */
.sp--btn[theme^="under"] {
    opacity: .95;
    border: 1px solid transparent;
}
.sp--btn[theme^="under"]:hover {
    opacity: .9;
}
.sp--btn[theme^="under"]:active {
    opacity: 1;
    /*
    -webkit-transform: translate3d(0, 1px, 0);
            transform: translate3d(0, 1px, 0);
    */
}
.sp--btn[theme^="under"][theme*="light"] {
    color: var(--base-color);
    border-bottom: 1px solid var(--light-color);
}
.sp--btn[theme^="under"][theme*="light"]:hover {
    color: var(--active-color);
    border-bottom: 1px solid var(--lightlow-color);
}
.sp--btn[theme^="under"][theme*="gray"] {
    color: var(--base-color);
    border-bottom: 1px solid var(--gray-color);
}
.sp--btn[theme^="under"][theme*="gray"]:hover {
    color: var(--active-color);
}
.sp--btn[theme^="under"][theme*="gray"]:hover {
    border-bottom: 1px solid var(--dark-color);
}
.sp--btn[theme^="under"][theme*="dark"] {
    color: var(--base-color);
    border-bottom: 1px solid var(--dark-color);
}
.sp--btn[theme^="under"][theme*="dark"]:hover {
    color: var(--active-color);
}
.sp--btn[theme^="under"][theme*="primary"] {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

/*
 * 배경채움형 버튼
 */
.sp--btn[theme^="fill"] {
    opacity: .95;
    white-space: nowrap;
    -webkit-transition : color var(--animate-duration) var(--cubic-ease-in), 
                         border var(--animate-duration) var(--cubic-ease-in);
    transition : color var(--animate-duration) var(--cubic-ease-in), 
                 border var(--animate-duration) var(--cubic-ease-in);
}
.sp--btn[bg="white"] {
    background-color: var(--white-color);
}
.sp--btn[bg="light"] {
    background-color: var(--light-color);
}
.sp--btn[bg="gray"] {
    background-color: var(--gray-color);
}
.sp--btn[bg="dark"] {
    background-color: var(--dark-color);
}
.sp--btn[bg="primary"] {
    background-color: var(--primary-color);
}
.sp--btn[theme^="fill"]:hover {
    opacity: .9;
}
.sp--btn[theme^="fill"]:active {
    opacity: 1;
    /*
    -webkit-transform: translate3d(0, 1px, 0);
            transform: translate3d(0, 1px, 0);
    */
}
.sp--btn[theme^="fill"] > span {
    flex: 1;
    z-index: 1;
    position: relative;
}
.sp--btn[theme^="fill"]:before {
    content: '';
    position: absolute;
    visibility: hidden;
    top: -1px; 
    left: -1px; 
    right: -1px; 
    bottom: -1px;
    transition: all var(--animate-duration) var(--cubic-ease-in);
    transform: translate3d(0, 0, 0) scale(1, 0);
}
.sp--btn[theme^="fill"]:hover:before {
    visibility: visible;
}
.sp--btn[theme^="fill"][theme*="vertical"]:before {
    transform: translate3d(0, 0, 0) scale(1, 0);
}
.sp--btn[theme^="fill"][theme*="horizontal"]:before {
    transform: translate3d(0, 0, 0) scale(0, 1);
    -webkit-transition-origin: center center;
    transform-origin: center center;
}
.sp--btn[theme^="fill"][theme*="top"]:before {
    -webkit-transition-origin: center top;
    transform-origin: center top;
}
.sp--btn[theme^="fill"][theme*="right"]:before {
    -webkit-transform: translate3d(0, 0, 0) scale(0, 1);
    transform: translate3d(0, 0, 0) scale(0, 1);
    -webkit-transition-origin: right center;
    transform-origin: right center;
}
.sp--btn[theme^="fill"][theme*="bottom"]:before {
    -webkit-transition-origin: center bottom;
    transform-origin: center bottom;
}
.sp--btn[theme^="fill"][theme*="left"]:before {
    -webkit-transform: translate3d(0, 0, 0) scale(0, 1);
    transform: translate3d(0, 0, 0) scale(0, 1);
    -webkit-transition-origin: left center;
    transform-origin: left center;
}
.sp--btn[theme^="fill"]:hover:before {
    -webkit-transform: translate3d(0, 0, 0) scale(1.001, 1.001);
    transform: translate3d(0, 0, 0) scale(1.001, 1.001);
}
.sp--btn[theme^="fill"][theme*="light"] {
    color: var(--dark-color);
    border: 2px solid var(--light-color);
}
.sp--btn[theme^="fill"][theme*="light"]:hover {
    border: 2px solid var(--lightlow-color);
}
.sp--btn[theme^="fill"][theme*="light"]:before {
    background-color: var(--light-color);
}
.sp--btn[theme^="fill"][theme*="gray"] {
    color: var(--dark-color);
    border: 2px solid var(--gray-color);
}
.sp--btn[theme^="fill"][theme*="gray"]:hover {
    color: var(--lightmax-color);
    border: 2px solid var(--gray-color);
}
.sp--btn[theme^="fill"][theme*="gray"]:before {
    background-color: var(--gray-color);
}
.sp--btn[theme^="fill"][theme*="dark"] {
    color: var(--dark-color);
    border: 2px solid var(--dark-color);
}
.sp--btn[theme^="fill"][theme*="dark"]:hover {
    color: var(--lightmax-color);
    border: 2px solid var(--dark-color);
}
.sp--btn[theme^="fill"][theme*="dark"]:before {
    background-color: var(--dark-color);
}
.sp--btn[theme^="fill"][theme*="primary"] {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}
.sp--btn[theme^="fill"][theme*="primary"]:hover {
    color: var(--lightmax-color);
    border: 2px solid var(--primary-color);
}
.sp--btn[theme^="fill"][theme*="primary"]:before {
    background-color: var(--primary-color);
}
.sp--btn[theme^="fill"][theme*="nude"] {
    overflow: hidden;
    border-width: 1px !important;
    border-color: var(--light-color) !important;
}
.sp--btn[theme^="fill"][theme*="off"] {
    overflow: hidden;
    border: none !important;
}

.sp--btn:not([scale])[theme^="fill"],
.sp--btn:not([scale])[theme^="fill"]:hover {
    border: 0;
}

.sp--btn[theme*="ico"] {
    flex-direction: column;
}

/*
 * 버튼 그룹
 */
.sp--btn-group {
    font-size: 0;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}
.sp--btn-group[fill="full"] > .sp--btn,
.sp--btn-group[fill="full"] > .sp--btn-gap > .sp--btn {
    flex-grow: 1;
}
.sp--btn-group[fill="fullsame"] > .sp--btn,
.sp--btn-group[fill="fullsame"] > .sp--btn-gap > .sp--btn {
    flex: 1 1 0;
}
.sp--btn-group[fill="block"] > .sp--btn,
.sp--btn-group[fill="block"] > .sp--btn-gap > .sp--btn {
    width: 100%;
}
.sp--btn-group[fill="fixed"] {
    flex-wrap: nowrap;
}
.sp--btn-group[fill="grid"] {
    justify-content: space-around;
}
.sp--btn-group[fill="justify"] {
    justify-content: space-between;
}
.sp--btn-group[direction="left"] {
    justify-content: flex-start;
}
.sp--btn-group[direction="center"] {
    justify-content: center;
}
.sp--btn-group[direction="right"] {
    justify-content: flex-end;
}
.sp--btn-group[vertical="top"] {
    align-items: flex-start;
}
.sp--btn-group[vertical="middle"] {
    align-items: center;
}
.sp--btn-group[vertical="bottom"] {
    align-items: flex-end;
}
.sp--btn-group[vertical="full"] {
    height: 100%;
    align-items: stretch;
}
.sp--btn-group[vertical="full"] > .sp--btn {
    height: 100%;
}
.sp--btn-group[grid="1"] .sp--btn {
    flex-basis: 100%;
}
.sp--btn-group[grid="2"] .sp--btn {
    flex-basis: 50%;
}
.sp--btn-group[grid="3"] .sp--btn {
    flex-basis: 33.333%;
}
.sp--btn-group[grid="4"] .sp--btn {
    flex-basis: 25%;
}
.sp--btn-group[grid="5"] .sp--btn {
    flex-basis: 20%;
}

/*
 * 버튼 그룹 라운드
 */
.sp--btn-group[round="xs"] .sp--btn:first-child {
    border-radius: var(--padding-xs) 0 0 var(--padding-xs);
}
.sp--btn-group[round="xs"] .sp--btn:last-child {
    border-radius: 0 var(--padding-xs) var(--padding-xs) 0;
}
.sp--btn-group[round="sm"] .sp--btn:first-child {
    border-radius: var(--padding-sm) 0 0 var(--padding-sm);
}
.sp--btn-group[round="sm"] .sp--btn:last-child {
    border-radius: 0 var(--padding-sm) var(--padding-sm) 0;
}
.sp--btn-group[round="md"] .sp--btn:first-child {
    border-radius: var(--padding-md) 0 0 var(--padding-xs);
}
.sp--btn-group[round="md"] .sp--btn:last-child {
    border-radius: 0 var(--padding-md) var(--padding-xs) 0;
}
.sp--btn-group[round="lg"] .sp--btn:first-child {
    border-radius: var(--padding-lg) 0 0 var(--padding-xs);
}
.sp--btn-group[round="lg"] .sp--btn:last-child {
    border-radius: 0 var(--padding-lg) var(--padding-xs) 0;
}
.sp--btn-group[round="xl"] .sp--btn:first-child {
    border-radius: var(--padding-xl) 0 0 var(--padding-xs);
}
.sp--btn-group[round="xl"] .sp--btn:last-child {
    border-radius: 0 var(--padding-xl) var(--padding-xs) 0;
}
.sp--btn-group[round="2xl"] .sp--btn:first-child {
    border-radius: var(--padding-2xl) 0 0 var(--padding-xs);
}
.sp--btn-group[round="2xl"] .sp--btn:last-child {
    border-radius: 0 var(--padding-2xl) var(--padding-xs) 0;
}
.sp--btn-group[round="3xl"] .sp--btn:first-child {
    border-radius: var(--padding-3xl) 0 0 var(--padding-xs);
}
.sp--btn-group[round="3xl"] .sp--btn:last-child {
    border-radius: 0 var(--padding-3xl) var(--padding-xs) 0;
}
.sp--btn-group[round="max"] .sp--btn:first-child {
    border-radius: 100rem 0 0 100rem;
}
.sp--btn-group[round="max"] .sp--btn:last-child {
    border-radius: 0 100rem 100rem 0;
}

/*
 * 버튼 그룹 갭
 */
.sp--btn-group .sp--btn-gap {
    flex: 1;
    max-width: none;
    display: inherit;
    flex-wrap: inherit;
    align-items: inherit;
    justify-content: inherit;
}
.sp--btn-gap[gap="overlap"] {
    margin: 0 -1px 0 1px;
}
.sp--btn-gap[gap="overlap"] .sp--btn {
    margin: -1px 0 0 -1px;
}
.sp--btn-gap[gap="ss"] {
    margin: calc(var(--padding-xs) / 2 * -1);
}
.sp--btn-gap[gap="ss"] > .sp--btn {
    margin: calc(var(--padding-xs) / 2);
}
.sp--btn-gap[gap="xs"] {
    margin: calc(var(--padding-xs) * -1);
}
.sp--btn-gap[gap="xs"] > .sp--btn {
    margin: var(--padding-xs);
}
.sp--btn-gap[gap="sm"] {
    margin: calc(var(--padding-sm) * -1);
}
.sp--btn-gap[gap="sm"] > .sp--btn {
    margin: var(--padding-sm);
}
.sp--btn-gap[gap="md"] {
    margin: calc(var(--padding-md) * -1);
}
.sp--btn-gap[gap="md"] > .sp--btn {
    margin: var(--padding-md);
}
.sp--btn-gap[gap="lg"] {
    margin: calc(var(--padding-lg) * -1);
}
.sp--btn-gap[gap="lg"] > .sp--btn {
    margin: var(--padding-lg);
}
.sp--btn-gap[gap="xl"] {
    margin: calc(var(--padding-xl) * -1);
}
.sp--btn-gap[gap="xl"] > .sp--btn {
    margin: var(--padding-xl);
}
.sp--btn-gap[gap="2xl"] {
    margin: calc(var(--padding-2xl) * -1);
}
.sp--btn-gap[gap="2xl"] > .sp--btn {
    margin: var(--padding-2xl);
}
.sp--btn-gap[gap="3xl"] {
    margin: calc(var(--padding-3xl) * -1);
}
.sp--btn-gap[gap="3xl"] > .sp--btn {
    margin: var(--padding-3xl);
}

/*
 * 메뉴 호버 이펙트 모음
 */
.sp--btn[effect] {
    -webkit-transition: color var(--animate-duration-fast) var(--cubic-ease-in),
                        background-color var(--animate-duration-fast) var(--cubic-ease-in);
            transition: color var(--animate-duration-fast) var(--cubic-ease-in),
                        background-color var(--animate-duration-fast) var(--cubic-ease-in);
}
.sp--btn[effect="light"] {
    background-color: var(--white-color);
}
.sp--btn[effect="light"]:hover,
li:hover > .sp--btn[effect="light"],
.sp--currentlink-on.sp--btn[effect="light"] {
    background-color: var(--lightmax-color);
}
.sp--btn[effect="gray"] {
    background-color: var(--white-color);
}
.sp--btn[effect="gray"]:hover,
li:hover > .sp--btn[effect="gray"],
.sp--currentlink-on.sp--btn[effect="gray"] {
    color: var(--white-color);
    background-color: var(--gray-color);
}
.sp--btn[effect="dark"] {
    background-color: var(--white-color);
}
.sp--btn[effect="dark"]:hover,
li:hover > .sp--btn[effect="dark"],
.sp--currentlink-on.sp--btn[effect="dark"] {
    color: var(--white-color);
    background-color: var(--dark-color);
}
.sp--btn[effect="primary"] {
    background-color: var(--white-color);
}
.sp--btn[effect="primary"]:hover,
li:hover > .sp--btn[effect="primary"],
.sp--currentlink-on.sp--btn[effect="primary"] {
    color: var(--white-color);
    background-color: var(--primary-color);
}

/*
** 텍스트
*/
.sp--btn[effect="light-text"]:hover,
li:hover > .sp--btn[effect="light"],
.sp--currentlink-on.sp--btn[effect="light"] {
    color: var(--light-color);
}
.sp--btn[effect="gray-text"]:hover,
li:hover > .sp--btn[effect="gray-text"],
.sp--currentlink-on.sp--btn[effect="gray-text"] {
    color: var(--gray-color);
}
.sp--btn[effect="dark-text"]:hover,
li:hover > .sp--btn[effect="dark-text"],
.sp--currentlink-on.sp--btn[effect="dark-text"] {
    color: var(--dark-color);
}
.sp--btn[effect="primary-text"]:hover,
li:hover > .sp--btn[effect="primary-text"],
.sp--currentlink-on.sp--btn[effect="primary-text"] {
    color: var(--primary-color);
}
.sp--btn[effect^="underline"] {
    position: relative;
    background-color: var(--white-color);
}
.sp--btn[effect^="underline"]:before {
    content: '';
    left: 0; 
    right: 0;
    bottom: -1px;
    height: 1px;
    position: absolute;
    background-color: var(--dark-color);
    opacity: 0;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: opacity var(--animate-duration) var(--cubic-ease-in),
                        transform var(--animate-duration) var(--cubic-ease-in);
    transition: opacity var(--animate-duration) var(--cubic-ease-in),
                transform var(--animate-duration) var(--cubic-ease-in);
}
.sp--btn[effect^="underline"]:hover:before,
li:hover > .sp--btn[effect^="underline"]:before,
.sp--currentlink-on.sp--btn[effect^="underline"]:before {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
}
.sp--btn[effect^="underline"][effect*="tick"]:hover:before,
li:hover > .sp--btn[effect^="underline"][effect*="tick"]:before,
.sp--currentlink-on.sp--btn[effect^="underline"][effect*="tick"]:before {
    -webkit-transform: scale(.3, 1);
            transform: scale(.3, 1);
}
.sp--btn[effect^="underline"][effect*="bold"]:before {
    height: 3px;
}
.sp--btn[effect^="underline"][effect*="ltr"]:before {
    -webkit-transform-origin: center left;
            transform-origin: center left;
}
.sp--btn[effect^="underline"][effect*="rtl"]:before {
    -webkit-transform-origin: center right;
            transform-origin: center right;
}

/*
** line reverse
*/
.sp--btn[theme][reverse="light"]:hover {
    color: var(--dark-color);
    background-color: var(--lightmax-color);
    border-color: var(--light-color);
}
.sp--btn[theme][reverse="gray"]:hover {
    color: var(--white-color);
    background-color: var(--gray-color);
    border-color: var(--gray-color);
}
.sp--btn[theme][reverse="dark"]:hover {
    color: var(--white-color);
    background-color: var(--dark-color);
    border-color: var(--dark-color);
}
.sp--btn[theme][reverse="primary"]:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/*
** button fix primary
** 모든 버튼 속성의 호버를 프라이머리로 지정한다.
** 이 속성을 예외처리 하고 싶었으나, 스타일이 많아서 무의미하다.
**/
.sp--btn[theme][hover="light"]:hover,
.sp--btn.sp--currentlink-on[hover="light"],
.sp--tabs-active > .sp--btn[theme][hover="light"] {
    color: var(--light-color);
}
.sp--btn[theme][hover="gray"]:hover,
.sp--btn.sp--currentlink-on[hover="gray"],
.sp--tabs-active > .sp--btn[theme][hover="gray"] {
    color: var(--gray-color);
}
.sp--btn[theme][hover="dark"]:hover,
.sp--btn.sp--currentlink-on[hover="dark"],
.sp--tabs-active > .sp--btn[theme][hover="dark"] {
    color: var(--dark-color);
}
.sp--btn[theme][hover="primary"]:hover,
.sp--btn.sp--currentlink-on[hover="primary"],
.sp--tabs-active > .sp--btn[theme][hover="primary"] {
    color: var(--primary-color);
}
.sp--btn[theme][hover="fill-light"]:hover {
    color: var(--gray-color);
    background-color: var(--lightmax-color);
}
.sp--btn[theme][hover="fill-gray"]:hover {
    color: var(--white-color);
    background-color: var(--gray-color);
}
.sp--btn[theme][hover="fill-dark"]:hover {
    color: var(--light-color);
    background-color: var(--dark-color);
}
.sp--btn[theme][hover="fill-primary"]:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.sp--btn[theme][count]:not([count='0']) {
    color: var(--white-color);
    background-color: var(--primary-color);
}