/*
** icon package
** https://codepen.io/sosuke/pen/Pjoqqp
*/
@font-face {
    font-family: 'spstrap-icon-font';
    src:
        url('./iconfont/spstrap-icon-font.ttf') format('truetype'),
        url('./iconfont/spstrap-icon-font.woff') format('woff'),
        url('./iconfont/spstrap-icon-font.woff2') format('woff2'),
        url('./iconfont/spstrap-icon-font.svg#spstrap-icon-font') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
.sp--mix {
    vertical-align: middle;
    text-overflow: ellipsis;
    display: inline-flex;
    align-self: center;
    align-items: center;
}
.sp--mix:empty {
  display: none;
}
.sp--mix img {
    top: -1px;
    position: relative;
}
.sp--mix img ~ img {
    margin-left: .25em;
}
.sp--mix[image="xs"] img {
    width: var(--font-size-xs);
}
.sp--mix[image="sm"] img {
    width: var(--font-size-sm);
}
.sp--mix[image="md"] img {
    width: var(--font-size-md);
}
.sp--mix[image="lg"] img {
    width: var(--font-size-lg);
}
.sp--mix[image="xl"] img {
    width: var(--font-size-xl);
}
.sp--mix[image="2xl"] img {
    width: var(--font-size-2xl);
}
.sp--mix[image="3xl"] img {
    width: var(--font-size-3xl);
}
.sp--mix[image="4xl"] img {
    width: var(--font-size-4xl);
}
.sp--mix[image="5xl"] img {
    width: var(--font-size-5xl);
}
.sp--icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'spstrap-icon-font' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    position: relative;
    
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.sp--icon::before {
    -webkit-transform-origin: center center;
            transform-origin: center center;
}
.sp--icon[theme^="light"]::before {
    color: var(--silver-color);
}
.sp--icon[theme^="gray"]::before {
    color: var(--gray-color);
}
.sp--icon[theme^="dark"]::before {
    color: var(--dark-color);
}
.sp--icon[theme^="primary"]::before {
    color: var(--primary-color);
}
.sp--icon[rotate^="45"]::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}
.sp--icon[rotate^="90"]::before {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
}
.sp--icon[rotate^="135"]::before {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
}
.sp--icon[rotate^="180"]::before {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}
.sp--icon[rotate^="270"]::before {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
}
.sp--icon[rotate*="horizontal"] {
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1);
}
.sp--icon[rotate*="vertical"] {
    -webkit-transform: scale(1, -1);
            transform: scale(1, -1);
}

/*
** 아이콘 스케일
*/
.sp--icon[scale*="top"] {
    vertical-align: top;
}
.sp--icon[scale*="base"] {
    vertical-align: baseline;
}
.sp--icon[scale*="up"] {
    top: -.15em;
}
.sp--icon[scale*="right"] {
    left: .5em;
}
.sp--icon[scale*="down"] {
    top: .15em;
}
.sp--icon[scale*="left"] {
    left: -.5em;
}
.sp--icon[scale*="nude"] {
    height: .5em;
}
.sp--icon[scale*="minup"] {
    top: -1px;
}
.sp--icon[scale*="mindown"] {
    top: 1px;
}
.sp--icon[scale$="in"]::before {
    -webkit-transform: scale(.9);
            transform: scale(.9);
}
.sp--icon[scale$="out"]::before {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}
.sp--icon[scale^="ss"]::before {
    -webkit-transform: scale(.7);
            transform: scale(.7);
}
.sp--icon[scale^="xs"]::before {
    font-size: var(--font-size-xs);
}
.sp--icon[scale^="sm"]::before {
    font-size: var(--font-size-sm);
}
.sp--icon[scale^="md"]::before {
    font-size: var(--font-size-md);
}
.sp--icon[scale^="lg"]::before {
    font-size: var(--font-size-lg);
}
.sp--icon[scale^="xl"]::before {
    font-size: var(--font-size-xl);
}
.sp--icon[scale^="2xl"]::before {
    font-size: var(--font-size-2xl);
}
.sp--icon[scale^="3xl"]::before {
    font-size: var(--font-size-3xl);
}
.sp--icon[scale*="x1"]::before {
  font-size: 1.2em;
}
.sp--icon[scale*="x2"]::before {
    font-size: 1.5em;
}
.sp--icon[scale*="x3"]::before {
    font-size: 2em;
}
.sp--icon[scale*="x4"]::before {
    font-size: 2.5em;
}
.sp--icon[scale*="x5"]::before {
    font-size: 3em;
}
.sp--icon[scale*="x6"]::before {
    font-size: 3.5em;
}
.sp--icon[scale*="x7"]::before {
    font-size: 4em;
}
.sp--icon[scale*="x8"]::before {
    font-size: 5em;
}
.sp--icon[scale*="x9"]::before {
    font-size: 6em;
}
.sp--icon[vspace="xs"] {
    padding: calc(var(--padding-text-xs)) 0;
}
.sp--icon[vspace="sm"] {
    padding: calc(var(--padding-text-sm)) 0;
}
.sp--icon[vspace="md"] {
    padding: calc(var(--padding-text-md)) 0;
}
.sp--icon[vspace="lg"] {
    padding: calc(var(--padding-text-lg)) 0;
}
.sp--icon[vspace="xl"] {
    padding: calc(var(--padding-text-xl)) 0;
}
.sp--icon[vspace="2xl"] {
    padding: calc(var(--padding-text-2xl)) 0;
}
.sp--icon[vspace="3xl"] {
    padding: calc(var(--padding-text-3xl)) 0;
}
.sp--icon[hspace="xs"] {
    padding: 0 calc(var(--padding-text-xs));
}
.sp--icon[hspace="sm"] {
    padding: 0 calc(var(--padding-text-sm));
}
.sp--icon[hspace="md"] {
    padding: 0 calc(var(--padding-text-md));
}
.sp--icon[hspace="lg"] {
    padding: 0 calc(var(--padding-text-lg));
}
.sp--icon[hspace="xl"] {
    padding: 0 calc(var(--padding-text-xl));
}
.sp--icon[hspace="2xl"] {
    padding: 0 calc(var(--padding-text-2xl));
}
.sp--icon[hspace="3xl"] {
    padding: 0 calc(var(--padding-text-3xl));
}

/*
** 아이콘 폰트
*/
.sp--icon[ico="smile"]::before {
  content: "\e957";
}
.sp--icon[ico="required"]::before {
  content: "\e958";
}
.sp--icon[ico="question"]::before {
  content: "\e953";
}
.sp--icon[ico="checkbox"]::before {
  content: "\e954";
}
.sp--icon[ico="number-14"]::before {
  content: "\e955";
}
.sp--icon[ico="number-19"]::before {
  content: "\e956";
}
.sp--icon[ico="clock-thin"]::before {
  content: "\e952";
}
.sp--icon[ico="close-thin"]::before {
  content: "\e951";
}
.sp--icon[ico="star-fill"]::before {
  content: "\e950";
}
.sp--icon[ico="alphabet-a"]::before {
  content: "\e94e";
}
.sp--icon[ico="alphabet-q"]::before {
  content: "\e94f";
}
.sp--icon[ico="bag-thin"]::before {
  content: "\e94b";
}
.sp--icon[ico="cart-thin"]::before {
  content: "\e94c";
}
.sp--icon[ico="user-thin"]::before {
  content: "\e94d";
}
.sp--icon[ico="apple"]::before {
  content: "\e900";
}
.sp--icon[ico="facebook"]::before {
  content: "\e901";
}
.sp--icon[ico="google"]::before {
  content: "\e902";
}
.sp--icon[ico="instagram"]::before {
  content: "\e903";
}
.sp--icon[ico="kakao"]::before {
  content: "\e904";
}
.sp--icon[ico="kakaostory"]::before {
  content: "\e905";
}
.sp--icon[ico="kakaotalk"]::before {
  content: "\e906";
}
.sp--icon[ico="line"]::before {
  content: "\e907";
}
.sp--icon[ico="naver"]::before {
  content: "\e908";
}
.sp--icon[ico="navertalk"]::before {
  content: "\e909";
}
.sp--icon[ico="vimeo"]::before {
  content: "\e90a";
}
.sp--icon[ico="youtube"]::before {
  content: "\e90b";
}
.sp--icon[ico="arrow"]::before {
  content: "\e90c";
}
.sp--icon[ico="arrow-thin"]::before {
  content: "\e90d";
}
.sp--icon[ico="article"]::before {
  content: "\e90e";
}
.sp--icon[ico="bag"]::before {
  content: "\e90f";
}
.sp--icon[ico="bell"]::before {
  content: "\e910";
}
.sp--icon[ico="bookmark"]::before {
  content: "\e911";
}
.sp--icon[ico="box"]::before {
  content: "\e912";
}
.sp--icon[ico="box-hand"]::before {
  content: "\e913";
}
.sp--icon[ico="box-three"]::before {
  content: "\e914";
}
.sp--icon[ico="bracket"]::before {
  content: "\e915";
}
.sp--icon[ico="calendar"]::before {
  content: "\e916";
}
.sp--icon[ico="camera"]::before {
  content: "\e917";
}
.sp--icon[ico="card"]::before {
  content: "\e918";
}
.sp--icon[ico="caret"]::before {
  content: "\e919";
}
.sp--icon[ico="cart"]::before {
  content: "\e91a";
}
.sp--icon[ico="check"]::before {
  content: "\e91b";
}
.sp--icon[ico="circle"]::before {
  content: "\e91c";
}
.sp--icon[ico="clock"]::before {
  content: "\e91d";
}
.sp--icon[ico="clock-fill"]::before {
  content: "\e91e";
}
.sp--icon[ico="close"]::before {
  content: "\e91f";
}
.sp--icon[ico="coin"]::before {
  content: "\e920";
}
.sp--icon[ico="coin-many"]::before {
  content: "\e921";
}
.sp--icon[ico="customer"]::before {
  content: "\e922";
}
.sp--icon[ico="disk"]::before {
  content: "\e923";
}
.sp--icon[ico="ellipsis"]::before {
  content: "\e924";
}
.sp--icon[ico="email"]::before {
  content: "\e925";
}
.sp--icon[ico="eye"]::before {
  content: "\e926";
}
.sp--icon[ico="giftcard"]::before {
  content: "\e927";
}
.sp--icon[ico="headset"]::before {
  content: "\e928";
}
.sp--icon[ico="heart"]::before {
  content: "\e929";
}
.sp--icon[ico="heart-fill"]::before {
  content: "\e92a";
}
.sp--icon[ico="hexagon"]::before {
  content: "\e92b";
}
.sp--icon[ico="home"]::before {
  content: "\e92c";
}
.sp--icon[ico="image"]::before {
  content: "\e92d";
}
.sp--icon[ico="keyboard"]::before {
  content: "\e92e";
}
.sp--icon[ico="string"]::before {
  content: "\e92f";
}
.sp--icon[ico="list"]::before {
  content: "\e930";
}
.sp--icon[ico="message"]::before {
  content: "\e931";
}
.sp--icon[ico="mic"]::before {
  content: "\e932";
}
.sp--icon[ico="minus"]::before {
  content: "\e933";
}
.sp--icon[ico="mobile"]::before {
  content: "\e934";
}
.sp--icon[ico="pc"]::before {
  content: "\e935";
}
.sp--icon[ico="pencil"]::before {
  content: "\e936";
}
.sp--icon[ico="phone"]::before {
  content: "\e937";
}
.sp--icon[ico="plus"]::before {
  content: "\e938";
}
.sp--icon[ico="reload"]::before {
  content: "\e939";
}
.sp--icon[ico="search"]::before {
  content: "\e93a";
}
.sp--icon[ico="security"]::before {
  content: "\e93b";
}
.sp--icon[ico="shape"]::before {
  content: "\e93c";
}
.sp--icon[ico="square"]::before {
  content: "\e93d";
}
.sp--icon[ico="square-four"]::before {
  content: "\e93e";
}
.sp--icon[ico="square-h-list"]::before {
  content: "\e93f";
}
.sp--icon[ico="square-v-list"]::before {
  content: "\e940";
}
.sp--icon[ico="star"]::before {
  content: "\e941";
}
.sp--icon[ico="switch-off"]::before {
  content: "\e942";
}
.sp--icon[ico="switch-on"]::before {
  content: "\e943";
}
.sp--icon[ico="trash"]::before {
  content: "\e944";
}
.sp--icon[ico="triangle"]::before {
  content: "\e945";
}
.sp--icon[ico="truck"]::before {
  content: "\e946";
}
.sp--icon[ico="user"]::before {
  content: "\e947";
}
.sp--icon[ico="user-circle"]::before {
  content: "\e948";
}
.sp--icon[ico="warning"]::before {
  content: "\e949";
}
.sp--icon[ico="warning-fill"]::before {
  content: "\e94a";
}

/*
 * social icon with svg current color
 */
.sp--social {
    font-size: 0;
}

/*
 * 소셜 아이콘 컬러 지정
 */
.sp--social[social="facebook"] {
    color: #ffffff;
    background-color: #4267b2;
}
.sp--social[social="kakao"] {
    color: #181600;
    background-color: #fee500;
}
.sp--social[social="naver"] {
    color: #ffffff;
    background-color: #2fb400;
}
.sp--social[social="line"] {
    color: #ffffff;
    background-color: #2fb400;
}
.sp--social[social="google"] {
    background-color: #f0f0f0;
}
.sp--social[social="apple"] {
    color: #fff;
    background-color: #333;
}
.sp--social[social="youtube"] {
    color: #ffffff;
    background-color: #ff0000;
}
.sp--social[social="vimeo"] {
    color: #ffffff;
    background-color: #18b1e3;
}
.sp--social[social="instagram"] {
    color: #ffffff;
    background-color: #e455e6;
}
.sp--social[social="navertalk"] {
    color: #ffffff;
    background-color: #2fb400;
}
.sp--social[social="kakaotalk"] {
    color: #181600;
    background-color: #fee500;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.sp--hamburger {
    width: 40px;
    height: 40px;
    border: 0;
    margin: 0;
    padding: 0 0 .1em 0;
    cursor: pointer;
    font: inherit;
    color: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-transform: none;
    background-color: transparent;
    overflow: visible; 
    transition: opacity 0.15s linear,
                filter 0.15s linear;
}
  
/*
 * Hamberger box
 */
.sp--hamburger-box {
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
}
.sp--hamburger-inner {
    top: calc(50% - 1px);
    display: block;
}
.sp--hamburger-inner, 
.sp--hamburger-inner::before, 
.sp--hamburger-inner::after {
    width: inherit;
    height: 2px;
    background-color: var(--primary-color);
    border-radius: 4px;
    position: absolute;
    transition: transform 0.15s ease;
}
.sp--hamburger-inner::before, .sp--hamburger-inner::after {
    content: "";
    display: block; 
}
.sp--hamburger-inner::before {
    top: -10px; 
}
.sp--hamburger-inner::after {
    bottom: -10px; 
}
  
/*
 * Arrow
 */
.sp--toggle-on .sp--hamburger--arrow .sp--hamburger-inner::before {
    transform: translate3d(-8px, 4px, 0) rotate(-45deg) scale(0.6, 1); 
}
.sp--toggle-on .sp--hamburger--arrow .sp--hamburger-inner::after {
    transform: translate3d(-8px, -4px, 0) rotate(45deg) scale(0.6, 1);
}

/*
 * Minus
 */
.sp--hamburger--minus .sp--hamburger-inner::before, 
.sp--hamburger--minus .sp--hamburger-inner::after {
    transition: bottom 0.08s 0s ease-out, 
                top 0.08s 0s ease-out, opacity 0s linear; 
}
.sp--hamburger--minus.is-active .sp--hamburger-inner::before, 
.sp--hamburger--minus.is-active .sp--hamburger-inner::after {
    opacity: 0;
    transition: bottom 0.08s ease-out, 
                top 0.08s ease-out, opacity 0s 0.08s linear; 
}
.sp--toggle-on .sp--hamburger--minus .sp--hamburger-inner::before {
    top: 0; 
}
.sp--toggle-on .sp--hamburger--minus .sp--hamburger-inner::after {
    bottom: 0; 
}

/*
 * Spin
 */
.sp--hamburger--spin .sp--hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}
.sp--hamburger--spin .sp--hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; 
}
.sp--hamburger--spin .sp--hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, 
                transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}
.sp--toggle-on .sp--hamburger--spin .sp--hamburger-inner {
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
}
.sp--toggle-on .sp--hamburger--spin .sp--hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, 
                opacity 0.1s 0.12s ease-out; 
}
.sp--toggle-on .sp--hamburger--spin .sp--hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, 
                transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); 
}

/*
 * Customize Hamberger Size
 */
.sp--hamburger[scale^="sm"] {
    width: 30px;
    height: 30px;
}
.sp--hamburger[scale^="lg"] {
    width: 50px;
    height: 50px;
}
.sp--hamburger[scale*="-x"] {
    width: auto;
}
.sp--hamburger[scale*="-y"] {
    height: auto;
}
.sp--hamburger[scale*="-full"] {
    height: 100%;
}

.sp--hamburger[theme="gray"] {
  background-color: var(--light-color);
}
.sp--hamburger[theme="gray"] .sp--hamburger-inner, 
.sp--hamburger[theme="gray"] .sp--hamburger-inner::before, 
.sp--hamburger[theme="gray"] .sp--hamburger-inner::after {
    background-color: var(--gray-color);
}
.sp--toggle-on .sp--hamburger[theme="gray-reverse"] {
  background-color: var(--gray-color);
}
.sp--toggle-on .sp--hamburger[theme="gray-reverse"] .sp--hamburger-inner, 
.sp--toggle-on .sp--hamburger[theme="gray-reverse"] .sp--hamburger-inner::before, 
.sp--toggle-on .sp--hamburger[theme="gray-reverse"] .sp--hamburger-inner::after {
  background-color: var(--white-color);
}
.sp--hamburger[theme="dark"] {
  background-color: var(--dark-color);
}
.sp--hamburger[theme="dark"] .sp--hamburger-inner, 
.sp--hamburger[theme="dark"] .sp--hamburger-inner::before, 
.sp--hamburger[theme="dark"] .sp--hamburger-inner::after {
  background-color: var(--white-color);
}
.sp--toggle-on .sp--hamburger[theme="dark-reverse"] {
    background-color: var(--dark-color);
}
.sp--toggle-on .sp--hamburger[theme="dark-reverse"] .sp--hamburger-inner, 
.sp--toggle-on .sp--hamburger[theme="dark-reverse"] .sp--hamburger-inner::before, 
.sp--toggle-on .sp--hamburger[theme="dark-reverse"] .sp--hamburger-inner::after {
    background-color: var(--white-color);
}
.sp--hamburger[theme="primary"] {
  background-color: var(--primary-color);
}
.sp--hamburger[theme="primary"] .sp--hamburger-inner, 
.sp--hamburger[theme="primary"] .sp--hamburger-inner::before, 
.sp--hamburger[theme="primary"] .sp--hamburger-inner::after {
    background-color: var(--white-color);
}
.sp--toggle-on .sp--hamburger[theme="primary-reverse"] {
    background-color: var(--primary-color);
}
.sp--toggle-on .sp--hamburger[theme="primary-reverse"] .sp--hamburger-inner, 
.sp--toggle-on .sp--hamburger[theme="primary-reverse"] .sp--hamburger-inner::before, 
.sp--toggle-on .sp--hamburger[theme="primary-reverse"] .sp--hamburger-inner::after {
    background-color: var(--white-color);
}

/*
 * Inside XS
 */
.sp--hamburger[line="thin"] .sp--hamburger-inner, 
.sp--hamburger[line="thin"] .sp--hamburger-inner::before, 
.sp--hamburger[line="thin"] .sp--hamburger-inner::after {
    height: 1px;
}
.sp--hamburger[line="bold"] .sp--hamburger-inner, 
.sp--hamburger[line="bold"] .sp--hamburger-inner::before, 
.sp--hamburger[line="bold"] .sp--hamburger-inner::after {
    height: 3px;
}

/*
 * Inside XS
 */
.sp--hamburger-box[scale="xs"] {
    width: 20px;
    height: 20px;
}
.sp--hamburger-box[scale="xs"] .sp--hamburger-inner::before {
    top: -6px; 
}
.sp--hamburger-box[scale="xs"] .sp--hamburger-inner::after {
    bottom: -6px; 
}
.sp--toggle-on .sp--hamburger--spin .sp--hamburger-box[scale="xs"] .sp--hamburger-inner::before {
    top: 0;
}
.sp--toggle-on .sp--hamburger--spin .sp--hamburger-box[scale="xs"] .sp--hamburger-inner::after {
    bottom: 0;
}
.sp--toggle-on .sp--hamburger--arrow .sp--hamburger-box[scale="xs"] .sp--hamburger-inner::before {
    transform: translate3d(-7px, 2px, 0) rotate(-45deg) scale(0.6, 1); 
}
.sp--toggle-on .sp--hamburger--arrow .sp--hamburger-box[scale="xs"] .sp--hamburger-inner::after {
    transform: translate3d(-7px, -2px, 0) rotate(45deg) scale(0.6, 1);
}
.sp--toggle-on .sp--hamburger--minus .sp--hamburger-box[scale="xs"] .sp--hamburger-inner::before {
    top: 0; 
}
.sp--toggle-on .sp--hamburger--minus .sp--hamburger-box[scale="xs"] .sp--hamburger-inner::after {
    bottom: 0; 
}


/*
 * Inside SM
 */
.sp--hamburger-box[scale="sm"] {
    width: 25px;
    height: 25px;
}
.sp--hamburger-box[scale="sm"] .sp--hamburger-inner::before {
    top: -8px; 
}
.sp--hamburger-box[scale="sm"] .sp--hamburger-inner::after {
    bottom: -8px; 
}
.sp--toggle-on .sp--hamburger--spin .sp--hamburger-box[scale="sm"] .sp--hamburger-inner::before {
    top: 0;
}
.sp--toggle-on .sp--hamburger--spin .sp--hamburger-box[scale="sm"] .sp--hamburger-inner::after {
    bottom: 0;
}
.sp--toggle-on .sp--hamburger--arrow .sp--hamburger-box[scale="sm"] .sp--hamburger-inner::before {
    transform: translate3d(-7px, 3px, 0) rotate(-45deg) scale(0.6, 1); 
}
.sp--toggle-on .sp--hamburger--arrow .sp--hamburger-box[scale="sm"] .sp--hamburger-inner::after {
    transform: translate3d(-7px, -3px, 0) rotate(45deg) scale(0.6, 1);
}
.sp--toggle-on .sp--hamburger--minus .sp--hamburger-box[scale="sm"] .sp--hamburger-inner::before {
    top: 0; 
}
.sp--toggle-on .sp--hamburger--minus .sp--hamburger-box[scale="sm"] .sp--hamburger-inner::after {
    bottom: 0; 
}

/*
 * 소셜 아이콘 컬러 지정
 */
.sp--icon[flag] {
    width: inherit;
    height: inherit;
}
.sp--icon[flag]::before {
    content: '';
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    position: absolute;
}
.sp--icon[flag^="xs"] {
    width: 16px;
    height: 16px;
}
.sp--icon[flag^="sm"] {
    width: 18px;
    height: 18px;
}
.sp--icon[flag^="md"] {
    width: 20px;
    height: 20px;
}
.sp--icon[flag^="lg"] {
    width: 22px;
    height: 22px;
}
.sp--icon[flag^="xl"] {
    width: 24px;
    height: 24px;
}
.sp--icon[flag^="2xl"] {
    width: 26px;
    height: 26px;
}
.sp--icon[flag^="3xl"] {
    width: 28px;
    height: 28px;
}
.sp--icon[flag*="ko_KR"]::before {
    background-image: url(../image/flag/ko_kr.svg);
}
.sp--icon[flag*="en_US"]::before {
    background-image: url(../image/flag/en_us.svg);
}
.sp--icon[flag*="ja_JP"]::before {
    background-image: url(../image/flag/ja_jp.svg);
}
.sp--icon[flag*="zh_CN"]::before {
    background-image: url(../image/flag/zh_cn.svg);
}